%hr
%center
  %h2
    %b= t('.hot_products')
%hr
.layout
  %section.inner
    %ul.grid
      - @products.each do |product|
        = render "layouts/product", product: product
%hr
%center
  %h2
    %b= t('.new_products')
%hr
.layout
  %section.inner
    %ul.grid
      - @products_new.each do |product|
        = render "layouts/product", product: product


