
<div class="layout">
  <% if @products.blank? %>
    <h2>No Product</h2>
  <% else %>
    <section class="inner">
	  <ul class="grid">
	    <% @products.each do |product| %>
	      <%= render "layouts/product", product: product %>
	    <% end %>
	  </ul>
	</section>
   <%= paginate @products, theme: 'twitter-bootstrap-3' %>
  <% end %>
</div>