.layout
  - if @products.blank?
    %h2= t(".no_product")
  - else
    %section.inner
      %ul.grid
        - @products.each do |product|
          = render "layouts/product", product: product
    = paginate @products, theme: 'twitter-bootstrap-3'
