<h1>Search</h1>

<div class="layout">
  <section class="inner">
    <ul class="grid">
      <% @ps.each do |product| %>
      	<%= render "layouts/product", product: product %>
      <% end %>

    </ul>
  </section>
   <%= paginate @ps, theme: 'twitter-bootstrap-3' %>
</div>
